.root {
    -fx-background-image: url("https://thego-to.com/uploads/images/events/desktop/5d40c10bb5963_9a17dbfdd3bf856722938f0f46714adb.jpg");
    -fx-background-size:100% auto;
    -fx-background-size:auto 100%;
}
